services:
  php:
    build:
      context: ./docker/
      dockerfile: Dockerfile.main
    container_name: php_app
    volumes:
      - ./:/var/www/html
      - ./docker/logs/apache:/var/log/apache2
    ports:
      - "8080:80"
    depends_on:
      - db
    command: apache2-foreground

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    build:
      context: ./docker/
      dockerfile: Dockerfile.phpmyadmin
    container_name: phpmyadmin
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: rootpassword
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "8081:80"

volumes:
  db_data:
